@charset "utf-8";

.box{
	background: #EEE;
	margin: 20px;
	padding: 20px 10px;
}
.name{
	width: 160px;
	float: left;
	margin: 0 10px;
	background: #FFF;
	padding: 20px;
	border: 1px solid #000;
}
.name img{
	width: 80px;
	height: 80px;
	vertical-align: top;
	padding-right: 10px;
}
.introduce{
	margin: 0 160px 0 240px;
	background: #FFF;
	padding: 20px;
	border: 1px solid #000;
}
.introduce p{
	text-indent: 2em;
}
.logo{
	width: 100px;
	float: right;
	margin: 0 10px;
	background: #FFF;
	padding: 10px;
	border: 1px solid #000;
}
.logo img{
	display: block;
	margin: 10px;
}